.course {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(201, 175, 33);
  color: rgb(14, 2, 2);
  border-radius: 5px;

  h3 {
    font-size: 32px;
    margin: 0;
  }

  p {
    font-size: 12px;
    font-weight: lighter;
  }
}
