@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

.mainSearch {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
}

h1 {
  font-size: 70px;
  width: 50%;
  margin: 200px auto;
  text-align: center;
  font-family: "open sans condensed";
}

.searchBox {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.7;
}
