* {
  box-sizing: border-box;
  font-family: "open sans", helvetica, arial, sans;
  
}

h1 {
  color:white;
  display: flex;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  font-family: "open sans condensed";
  font-size: xx-large;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
