.heading {
  text-align: center;
  margin: 50px 0;
  font-size: 36px;
  font-family: "open sans condensed";
  color:whitesmoke;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
}
